<table class="table table-striped">
<thead>
    <tr>
    <th class="col-md-2">Internal ID</th>
    <th class="col-md-3">Category</th>
    <th class="col-md-4">Name</th>
    <th class="col-md-1">Price</th>
    <th class="col-md-1">In Stock</th>
    <th></th>
    </tr>
</thead>
<tbody>
{% for item in items %}
    <tr>
    <td>{{ item.id }}</td>
    <td>{{ item.category }} </td>
    <td>{{ item.plainName }}</td>
    <td>${{ '{0:0.2f}'.format(item.value / 100)}}</td>
    {% if item.stockCount == -1%}
    {% else %}    
    <td>{{ item.stockCount }} </td>
    {% endif %}
    </tr>
{% endfor %}
{% if can_create == true %}
<tr class="bg-primary">
    <td><input class="form-control" id="id"/>
    <td><input class="form-control" id="category"/>
    <td><input class="form-control" id="name"/>
    <td><input class="form-control" id="price"/>
    <td><input class="form-control" id="stockCount"/>
    <td><button type="button" class="btn btn-default btn-sm btn-save"><span class="glyphicon glyphicon-floppy-save"></span></button></td>
</tr>
{% endif %}

</tbody>
</table>