{%extends "base.jinja2" %}
{%block title %}Home{% endblock %}

{%block content %}
<div class="col-md-11">
<div class="col-md-6 col-md-offset-3">
<h4>IEEE Carleton University Point of Sale System - BETA</h4>
        <div class="btn-group center-block" style="padding-bottom:300px">
            <a class="btn btn-primary center-block" href="{{request.application_url}}/login">Login</a>
        </div>
</div>
</div>

{% endblock %}
