{%extends "base.jinja2" %}

{%block title %}All Products{% endblock %}
{%block content %}
<h1>Current Stock Levels</h1>
<div class="row col-md-11 center-block">
{% include "include/ItemListView.jinja2" %}
</div>
{% endblock %}